@import "~src/variables.scss";
.secondary-button {
  padding: 0 20px;
  background-color: lighten($dark-blue, 20%);
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  height: 50px;
  display: block;
  line-height: 50px;
  border-radius: 3px;
  width: max-content;
  @include common-box-shadow;
  &:hover {
    background-color: lighten($dark-blue, 10%);
  }
}
