@import "~src/variables.scss";
.genre-filter {
  display: flex;
  flex-wrap: wrap;
  .genre {
    padding: 6px 12px;
    border-radius: 3px;
    @include common-box-shadow;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: lighten($dark-blue, 50%);
    transition: background-color 300ms;
    color: $dark-blue;
    text-transform: capitalize;
    text-decoration: none;
    &:hover {
      background-color: lighten($dark-blue, 5%);
      color: $light;
    }
    &:active {
      background-color: $dark-blue;
    }
    &.selected {
      background-color: lighten($dark-blue, 5%);
      color: $light;
    }
  }
}
