<div class="genre-filter">
  <a routerLink="/" class="genre" [ngClass]="{ selected: selectedGenres.length < 1 }">All</a>
  <a routerLink="/" [ngClass]="{ selected: selectedGenres.includes(genre) }" [queryParams]="genreQueryParam(genre)" class="genre"
    *ngFor="let genre of genres">
    {{ genre }}
  </a>
</div>
