@import "~src/variables.scss";
input {
  border: none;
  width: 100%;
  height: 50px;
  background-color: lighten($dark-blue, 20%);
  color: $light;
  font-weight: 600;
  font-size: 24px;
  border-radius: 3px;
  max-width: 300px;
  padding: 0 20px;
  outline-color: darken($dark-blue, 10%);
  @include common-box-shadow;
  margin-bottom: 20px;
  &::placeholder {
    color: $dark-blue;
    opacity: .8;
  }
}
