<div id="movie-detail">
  <app-secondary-button routerLink="/">
    View all movies
  </app-secondary-button>
  <app-movie-detailed-card *ngIf="movie$ | async" [movie]="movie$ | async">
  </app-movie-detailed-card>
</div>
