.movie-list {
  padding-top: 40px;
}

.movie-card-list {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  @media(max-width: 600px) {
    justify-content: center;
  }
}
