<div class="movie-list">
  <app-search-bar class="search-bar"></app-search-bar>
  <app-genre-filter></app-genre-filter>
  <div class="movie-card-list" [@listAnimation]="filteredMovies.length">
    <app-movie-card *ngFor="let movie of filteredMovies" [movie]="movie">
    </app-movie-card>
  </div>
</div>
