<div class="movie-card">
  <a class="movie-card-content" [routerLink]="movie.movieUrl">
    <div class="movie-thumbnail">
      <img [src]="movie.imageUrl" [alt]="movie.imageAlt">
    </div>
    <div class="movie-card-hover-content">
      <div class="dark-overlay">
      </div>
      <div class="movie-name">
        {{ movie.name }}
      </div>
      <div class="movie-rating">
        <div class="rating-text">
          {{ movie.rating }}
        </div>
        <div class="rating-description">Rating</div>
      </div>
    </div>
  </a>
</div>
