@import "~src/variables";
.movie-card {
  padding: 10px;
  .movie-card-content {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 300ms, transform 300ms;
    position: relative;
    transform: translateY(0);
    cursor: pointer;
    .movie-thumbnail {
      img {
        vertical-align: top;
        width: 182px;
        height: 268px;
        border-radius: 3px;
      }
    }
    .movie-card-hover-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 400ms;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .dark-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(#000, .9);
      }
      .movie-name {
        align-self: center;
        justify-self: center;
        color: #ccc;
        z-index: 1;
        text-align: center;
        font-weight: 600;
        padding: 10px;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 400ms, transform 400ms;
      }
      .movie-rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        opacity: 0;
        transform: translateY(10px);
        transition-delay: 200ms;
        transition: opacity 300ms, transform 300ms;
        .rating-text {
          color: $gold;
          font-size: 24px;
          font-weight: 700;
        }
        .rating-description {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          color: $light;
        }
      }
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.23);
      .movie-card-hover-content {
        opacity: 1;
        .movie-name,
        .movie-rating {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
