@import "~src/variables.scss";

.movie-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;

  h1,
  small {
    margin: 0;
  }

  small {
    font-size: 12px;
    margin-left: 16px;
    font-size: 16px;
    line-height: 26px;
  }
}

.movie-box {
  border-radius: 3px;
  display: flex;
  background-color: darken($dark-blue, 5%);
  padding: 10px;
  @include common-box-shadow;

  @media(max-width: 900px) {
    position: relative;
    flex-direction: column;
  }
}

.movie-box-left {
  margin-right: 20px;

  img {
    vertical-align: middle;
    border-radius: 3px;
    overflow: hidden;
  }

  @media(max-width: 900px) {
    margin-right: 0;
  }
}

.movie-box-right {
  position: relative;

  @media(max-width: 900px) {
    position: static;
  }
}

.movie-description {
  padding-right: 40px;
  line-height: 26px;
  font-size: 16px;
  position: relative;
}

.bottom-absolute-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media(max-width: 900px) {
    position: static;
  }
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
}

.movie-genre {
  text-transform: capitalize;
  padding: 6px 10px;
  background-color: lighten($dark-blue, 15%);
  border-radius: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
  bottom: -8px;
  @include common-box-shadow;
  transition: background-color 200ms;
  cursor: pointer;
  text-decoration: none;
  color: $light;

  &:hover {
    background-color: lighten($dark-blue, 5%);
  }
}

.movie-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  .rating-text {
    color: lighten(gold, 30%);
    font-size: 24px;
    font-weight: 700;
  }

  .rating-description {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }

  @media(max-width: 900px) {
    position: absolute;
    margin-right: 0;
    top: 10px;
    right: 10px;

    .rating-text {
      font-size: 32px;
    }

    .rating-description {
      font-size: 16px;
    }
  }
}
