<div class="movie-detailed-card">
  <div class="movie-header">
    <h1>
      {{ movie.name }}
    </h1>
    <small>
      {{ movie.duration }}
    </small>
  </div>
  <div class="movie-box">
    <div class="movie-box-left">
      <img class="movie-thumbnail" [src]="movie.imageUrl" [alt]="movie.imageAlt" />
    </div>
    <div class="movie-box-right">
      <p class="movie-description">
        {{ movie.description }}
      </p>
      <div class="bottom-absolute-content">
        <div class="movie-genres">
          <a routerLink="/" [queryParams]="{ genres: [ genre ] }" class="movie-genre" *ngFor="let genre of movie.genres">
            {{ genre }}
          </a>
        </div>
        <div class="movie-rating">
          <div class="rating-text">
            {{ movie.rating }}
          </div>
          <div class="rating-description">Rating</div>
        </div>
      </div>
    </div>
  </div>

</div>
