/* You can add global styles to this file, and also import other style files */

@import "node_modules/normalize-scss/sass/normalize";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@include normalize();
body {
  background-color: #252b33;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
  overflow-y: scroll;
}

router-outlet~* {
  position: absolute;
  height: 100%;
  width: 100%;
}
